<div class="container">
  <h4>Create a new function:</h4>
  <form>
    <div class="form-group row">
      <label for="function-name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input [(ngModel)]="name" name="name" type="text" class="form-control" id="function-name" placeholder="Name">
      </div>
    </div>
    <fieldset class="form-group row">
      <legend class="col-form-legend col-sm-2">Service type</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="serviceType" class="form-check-input" type="radio" name="serviceType" value="ClusterIP"
                   checked>
            ClusterIP
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="serviceType" class="form-check-input" type="radio" name="serviceType" value="NodePort">
            NodePort
          </label>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label class="col-sm-2">Ingress</label>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="ingress" name="ingress" class="form-check-input" type="checkbox"> Create Ingress?
          </label>
        </div>
      </div>
    </div>
    <fieldset class="form-group row" *ngIf="ingress">
      <legend class="col-form-legend col-sm-2">Ingress options</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">Host</label>
          <input [(ngModel)]="host" class="form-control" name="host">
        </div>
        <div class="form-check">
          <label class="form-check-label">Path</label>
          <input [(ngModel)]="path" class="form-control" name="path">
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button (click)="create()" type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
  <modal #modal
         [hideCloseButton]="true"
         [closeOnEscape]="false"
         [closeOnOutsideClick]="false"
         modalClass="modal-sm">
    <modal-content>
      <div style="text-align: center">
        <h4>Creating function</h4>
        <img src="assets/loader.gif"/>
      </div>
    </modal-content>
  </modal>
  <modal #errorModal modalClass="modal-sm">
    <modal-header>
      <h4>Error</h4>
    </modal-header>
    <modal-content>
      {{error}}
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="errorModal.close()">close</button>
    </modal-footer>
  </modal>
</div>
